.Header{
    font-size: 100px;
    position: absolute;
    margin-left: 390px;
    margin-top: 80px;
    color: rgb(225, 241, 255);
}

.Caption{
    position: absolute;
    margin-left: 405px;
    margin-top: 220px;
    color: rgb(225, 241, 255);
}

.dash{
    position: absolute;
    margin-top: 220px;
    color: #a2ff0000;
    font-weight: 500;
    background-color: #e2c2e1;
    border: solid 2px#e2c2e1;
}

#left{
    height: 10px;
    margin-left: 550px;
    margin-top: 225px;
    max-width: .5px;
    border-radius: 20%;
}

#middle{
    height: 18px;
    margin-left: 555.2px;
    margin-top: 221.5px;
    max-width: .5px;
    font-size: larger;
    border-radius: 20%;
}

#right{
    height: 10px;
    margin-left: 560px;
    margin-top: 225px;
    max-width: .5px;
    border-radius: 20%;
}

.ava-small{
    position: absolute;
    margin-left: 575px;
    margin-top: 220px;
    font-weight: 500;
    color: #8fdaff;
}