.Card{
    display: inline-flex;
    height: 350px;
    width: 300px;
    margin-top: 369px;
    margin-left: 165px;
    border-radius: 15%;
    background-color: #e4feff00;
    color: #ffffff9d;
    border: solid 3px #0099ff;
}

#Card-Header{
    font-size: 50px;
    margin-top: 180px;
    margin-left: 10px;
}

#Card-Footer{
    font-size: 25px;
    margin-top: 230px;
    margin-left: -160px;

}

#Card-Button{
    border: 10px;
    margin-top: 260px;
    margin-bottom: 45px;
    margin-left: 90px;
    border-radius: 10%;
    color: aliceblue;
    background-color: #0088ff;
}

