.Card{
    position: absolute;
    height: 400px;
    width: 350px;
    background-color: rgba(228, 254, 255, 0);
    color: rgba(255, 255, 255, 0.614);
    margin-left: 800px;
    margin-top: 400px;
    border-radius: 15%;
    border: solid 3px rgb(0, 153, 255);
}

#Card-Header{
    font-size: 50px;
    position: absolute;
    margin-left: 30px;
    margin-top: 230px;
}

#Card-Footer{
    font-size: 25px;
    position: absolute;
    margin-top: 280px;
    margin-left: 35px;
}

#Card-Button{
    position: absolute;
    border: 10px;
    margin-top: 330px;
    margin-left: 230px;
    border-radius: 10%;
    color: aliceblue;
    background-color: rgb(0, 136, 255);
}