.logo{
    margin-top: -3px;
    margin-left: -10px;
    position: absolute;
    font-weight: 500;
    font-size: larger;
    color: #91afbe;
}

body ul{
    display: flex;
}

body li{
    list-style: none;
}

.active-links{
    display: flex;
    margin-left: 80%;

}

.nav-links{
    margin: 10px;
    color: rgb(225, 241, 255);
    text-decoration: none;
    font-weight: 400;
}